.form {
	width: 46rem;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	position: relative;
	top: -1.7rem;
}

.input {
	flex: 1;
	padding: 1rem;
	border-radius: 8px;

	color: var(--gray-100);
	background: var(--gray-500);
	border: 1px solid var(--gray-700);
	line-height: 140%;
}

.input::placeholder {
	color: var(--gray-300);
}

.input:focus {
	outline: transparent;
	border: 1px solid var(--purple-dark);
}

.button {
	padding: 1rem;
	border-radius: 8px;
	justify-content: center;

	cursor: pointer;
	border: none;
	background: var(--blue-dark);
	transition: background-color 0.2s;

	color: var(--gray-100);
	font-weight: bold;
	font-size: 0.875rem;
	line-height: 140%;

	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.button:hover {
	background: var(--blue);
}

@media (max-width: 768px) {
	.form {
		flex-direction: column;
		width: calc(100% - 4rem);
	}

	.input,
	.button {
		width: 100%;
	}
}
