.container {
	padding: 1rem;
	margin-bottom: 0.75rem;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	background-color: var(--gray-500);
	border-radius: 8px;

	font-size: 0.875rem;
	color: var(--gray-100);
	line-height: 140%;
}

.notDone {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
	border: 1px solid var(--gray-400);
}

.done {
	border: 1px solid var(--gray-500);
}

.content {
	display: flex;
	gap: 1rem;
}

.doneText {
	color: var(--gray-300);
	text-decoration-line: line-through;
}

button {
	background: transparent;
	border: 0;
}

.buttonDelete {
	cursor: pointer;
	line-height: 0;
	border-radius: 4px;
	color: var(--gray-300);
	transition: color 0.2s, background-color 0.2s;
}

.buttonDelete:hover {
	color: var(--danger);
	background-color: var(--gray-400);
}
