.container {
	padding: 1rem;
	margin-bottom: 0.75rem;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	background-color: var(--gray-500);
	border: 1px solid var(--gray-400);
	border-radius: 8px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

	font-size: 0.875rem;
	color: var(--gray-100);
	line-height: 140%;
}

button {
	background: transparent;
	border: 0;
}

.buttonUnchecked {
  cursor: pointer;
  color: var(--blue);
  transition: color 0.2s;
}

.buttonUnchecked:hover {
  color: var(--blue-dark);
}

.buttonChecked {
  cursor: pointer;
  color: var(--purple-dark);
  transition: color 0.2s;
}

.buttonChecked:hover {
  color: var(--purple);
}

.buttonDelete {
  cursor: pointer;
  color: var(--gray-300);
  transition: color 0.2s, background-color 0.2s;
}

.buttonDelete:hover {
  color: var(--danger);
  border-radius: 4px;
  
  background-color: var(--gray-400);
}

